*{
    padding: 0;
    margin: 0;
}
body{
    background: url(https://media.giphy.com/media/FMsbSSjEe0N6zH7K7x/giphy.gif);
    background-size: cover;
    width: 90vw;
    height: 80vh;
}
#title{
    text-align: center;
    text-transform: uppercase;
    
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #f9f9f9 29%,
        #ff1361 67%,
        #fa10bf 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 40pxpx;
    
    

   
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
    }
.container{
    background: transparent;
    background-size: cover;
    padding: 20px;
    width:50vw ;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content:center ;
    margin-top: 7vh;
    margin-left:50vh;
    color: white;
}
#textBox{
    width:16vw;
    height:5vh ;
}
#checkButton{
    width:5vw;
    height:5vh;
    margin-left: 12vh;
}
#attemptsLabel{
    font-size: 2.7em;
}
